{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AZeotropy/CA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <style>
    .services .icon-box {}
  </style>


  <!-- =======================================================
  * Template Name: Day - v4.3.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <!-- <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <a href="https://azeotropyiitbblog.wordpress.com">AZeotropy's blog</a>

      </div>
      <div class="social-links d-none d-md-block">
         <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> 
  <a href="https://www.facebook.com/AZeotropy/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
  <a href="https://www.instagram.com/iitbombay_azeotropy/?hl=en" class="instagram" target="_blank"><i
      class="bi bi-instagram"></i></a>
  <a href="https://www.linkedin.com/company/azeotropy/?originalSubdomain=in" class="linkedin" target="_blank"><i
      class="bi bi-linkedin"></i></i></a>
  <a href="https://www.youtube.com/channel/UCuUhMNqBAYUplxgrhGkEGWQ/featured" class="youtube" target="_blank"><i
      class="bi bi-youtube"></i></i></a>
  </div>
  </div>
  </section> -->

  <!-- ======= Header ======= -->
  {% if message in message %}
  <div class="alert alert-dismissible alert-success">
    <strong>{{message}}<strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {%endif%}

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#hero">AZeotropy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Perks</a></li>
          <li><a class="nav-link scrollto " href="#duties">Responsibilities</a></li>
          <!-- <li><a class="nav-link scrollto" href="#pricing">Team</a></li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h2>Welcome to AZeotropy's</h2>
      <p>

       
          <h1>College Ambassador program</h1>
        
        
      </p>
      
      <h2>AZeotropy is all about CA's,  let's together take it to the next level </h2>
      <a href="register" class="btn-get-started scrollto">Register Now </a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/YcIayyNmwTc">
            </iframe>  <!--<img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">-->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>About AZeotropy</h3>
            <p class="fst-bold">
              AZeotropy is an interesting blend of various intriguing competitions, lecture series, panel discussions,
              exhibitions, workshops, and many fun-with-learning events. for more details
              
              <a class="cta-btn" href="https://azeotropyiitbblog.wordpress.com/about-the-symposium/" target="_blank">Click here</a>
            </p>
           
             <br>
            <h3>About Campus Ambassador Program</h3>
                

              Through our CAMPUS AMBASSADOR PROGRAM, AZeotropy allows you to demonstrate your leadership and
              organisational abilities. Campus Ambassadors are AZeotropy's representatives in their respective colleges,
              and their job is to connect with students who are interested in participating in AZeotropy's different
              events, competitions, and workshops. Students from all colleges with chemical, petrochemical, or petroleum
              engineering programmes are encouraged to register.

            </p>
            

            <!-- <button type="button" class="btn btn-primary"> <a href="register"> Register Here </a> </button> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <div><span class="count">300</span><span>+</span></div>
              <h4>College Ambassadors</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <div><span class="count">200</span><span>+</span></div>
              <h4>Colleges</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div><span class="count">11000</span><span>+</span></div>
              <h4> Footfall</h4>
              <p></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= 
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>   End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Perks</span>
          <h2>perks</h2>
          <p><h3>Why to become a Campus Ambassador?</h3></p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-award"></i></div>
              <h4><a href="">Ambassador of the year</a></h4>
              <p>We will recognize and appreciate all the effort that you will put in. One will be felicitated with the
                prestigious Ambassador of the year award for his/her exceptional work throughout the tenure.
                </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
            data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Free workshops</a></h4>
              <p> Every Campus Ambassador can attend any 2 workshops that will be organised by AZeotropy(online)
                absolutely free of cost. Why not learn something valuable and interesting?</p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Certificates</a></h4>
              <p> Being actively indulged in AZeotropy, throughout the year gets you a certificate of organization</p>
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>

              <h4><a href="">Appreciation</a></h4>
              <p>Bridge the gap between your college participants, authorities and team AZeotropy by the exchange of
                queries and information. Put your best efforts to publicize AZeotropy to end up in Top 10 and receive a
                Certificate of Appreciation.

            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-t-shirt"></i></div>
              <h4><a href="">Free T-Shirts</a></h4>
              <p>Top 10 Campus Ambassadors get free T-shirts as a souvenir to cherish the memories that will be made
                together.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href=""> Network</a></h4>
              <p> Create a network among your peers that will help build your character, build confidence and gain a
                perspective
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Be You. Be Unstoppable. Be an AZeotropy Ambassador.</h3>
        
          <a class="cta-btn" href="register">Register Now</a>
        </div>

      </div>
    </section><!-- End Cta Section -->



      <section class="duties" id="duties">

        <div class="section-title">
          <span>Responsibilities</span>
          <h2>Responsibilities</h2>
          <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
        </div>


        <div class="duties_container">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="icon"><lord-icon
                  src="https://cdn.lordicon.com/eszyyflr.json"
                  trigger="loop"
                  colors="primary:#ffffff,secondary:#ffffff"
                  stroke="70"
                  style="width:100%;height:100%">
              </lord-icon></div>
                <h1>Publicity</h1>
              </div>
              <div class="flip-card-back">
                <h1>Publicity</h1>
                <p> Publicize AZeotropy and its latest activities in your colleges through innovative online solutions
                  and
                  social media.</p>

              </div>
            </div>

          </div>





          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="icon">
                  <lord-icon src="https://cdn.lordicon.com/uukerzzv.json" trigger="loop"
                    colors="primary:#545454,secondary:#c71f16" style="width:100%;height:100%">
                  </lord-icon>
                </div>
                <h1>Bring Participation</h1>
              </div>
              <div class="flip-card-back">
                <h1>Bring Participation</h1>
                <p>Bring in your college's involvement in various online AZeotropy events and competitions. The higher
                  the number of participation from your college, the more benefits you will receive.</p>

              </div>
            </div>

          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="icon"><lord-icon
                  src="https://cdn.lordicon.com/ssdupzsv.json"
                  trigger="loop"
                  colors="primary:#ffffff,secondary:#ffffff"
                  stroke="70"
                  style="width:100%;height:100%">
              </lord-icon></div>
                <h1>Chem-O-Philia</h1>
              </div>
              <div class="flip-card-back">
                <h1>Chem-O-Philia</h1>
                <p>Work with the AZeotropy core team to organise online Chem-O-Philia competitions at your
                  universities.
                </p>

              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="icon"><lord-icon
                  src="https://cdn.lordicon.com/zpxybbhl.json"
                  trigger="loop"
                  colors="primary:#ffffff,secondary:#ffffff"
                  stroke="70"
                  style="width:100%;height:100%">
              </lord-icon></div>
                <h1>Familiarize Others</h1>
              </div>
              <div class="flip-card-back">
                <h1>Familiarize Others</h1>
                <p>Familiarize participants from your college with the online environments being used and solve their
                  technical issues.
                </p>

              </div>
            </div>
          </div>



        </div>



        <!-- <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="icon"><img src="{% static 'assets/img/brigde.png' %}" alt="Avatar"></div>
            <p>Point of Contact</p>
          </div>
          <div class="flip-card-back">
            <h1>Point of Contact</h1> 
            <p>Bridge the gap between your college participants, authorities, and team AZeotropy to allow the exchange of information</p> 
            
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="icon"><img src="{% static 'assets/img/brigde.png' %}" alt="Avatar"></div>
            <p>Point of Contact</p>
          </div>
          <div class="flip-card-back">
            <h1>Point of Contact</h1> 
            <p>Bridge the gap between your college participants, authorities, and team AZeotropy to allow the exchange of information</p> 
            
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="icon"><img src="{% static 'assets/img/brigde.png' %}" alt="Avatar"></div>
            <p>Point of Contact</p>
          </div>
          <div class="flip-card-back">
            <h1>Point of Contact</h1> 
            <p>Bridge the gap between your college participants, authorities, and team AZeotropy to allow the exchange of information</p> 
            
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="icon"><img src="{% static 'assets/img/brigde.png' %}" alt="Avatar"></div>
            <p>Point of Contact</p>
          </div>
          <div class="flip-card-back">
            <h1>Point of Contact</h1> 
            <p>Bridge the gap between your college participants, authorities, and team AZeotropy to allow the exchange of information</p> 
            
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="icon"><img src="{% static 'assets/img/brigde.png' %}" alt="Avatar"></div>
            <p>Point of Contact</p>
          </div>
          <div class="flip-card-back">
            <h1>Point of Contact</h1> 
            <p>Bridge the gap between your college participants, authorities, and team AZeotropy to allow the exchange of information</p> 
            
          </div>
        </div>
      </div> -->


        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><img src="{% static 'assets/img/bridging.png' %}", alt=""></div>
                 <h4 class="title">Point of Contact</h4>
              <p class="description">Bridging the gap between your college participants, authorities and coordinate with Team AZeotropy for the exchange of queries and information.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><img src="{% static 'assets/img/publicity.png' %}", alt=""></div>
              <h4 class="title">Publicity</h4>
              <p class="description">Executing on-ground publicity of AZeotropy’s event via posters and your networking skills</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><img src="{% static 'assets/img/updating.jpg' %}", alt=""></div>
              <h4 class="title">Updating</h4>
              <p class="description">Update the students regularly about AZeotropy’s activities through emails and other modes of Communication</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><img src="{% static 'assets/img/helping.png' %}", alt=""></div>
              <h4 class="title">Helping</h4>
              <p class="description">Familiarize participants from your college with the online environments being used and solve their technical issues</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                <div class="icon"><img src="{% static 'assets/img/networking.png' %}", alt=""></div>
                <h4 class="title">Networking</h4>
                <p class="description"> Build a network, and share the latest activities of AZeotropy via your social media</p>
              </div>
            </div>

            

          
  

        </div>
       
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch chem" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box chemophilia">
            <div class="icon"><img src="{% static 'assets/img/quiz.jpg' %}", alt="leave"></i></div>
            <h4 class="title">Chem-O-Philia</h4>
            <p class="description">Most importantly conducting Chem-O-Philia at your college, here goes the brief description of it: Chem-O-Philia is an international level Chemical Engineering quiz which is conducted across India and abroad. This unique quizzing event will test mainly your conceptual Chemical Engineering knowledge from basics to some complex problems involving around 20 short answer questions (mostly MCQ’s) in about an hour. Participation must consist of a team of 2 members. Chem-O-Philia conduction can be done from Aug-end to Oct-end depending on the accordance with the exams, holidays, etc in your college. The qualifiers will then compete on a national level quiz involving various rounds held at IIT Bombay in March.</p>
          </div>
        </div>
         -->


      </section><!-- End Services Section -->










      <!-- <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div> -->



      <!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div> -->
      </section><!-- End Portfolio Section -->

      <!-- ======= Pricing Section ======= -->
      <!-- <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Pricing</span>
          <h2>Pricing</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

        <!-- Testimonial -->

        <div class="container1">
          <div class="section-title">
            <span>Testimonial</span>
            <h2>Testimonial</h2>
            <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
          </div>
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel"
            data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel_container">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Prajakta Gavane</h3>
                        <h6>Rank 1</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>AZeotropy gave me a wonderful opportunity to work and collaborate with Students from all over the
                          India. It indeed was a exhilarating experience to communicate and collaborate among all the
                          participants! It helped me grow as a person. Thank you Team AZeotropy 2021!</p>
    
                      </div>
                    </div>
                  </div>
    
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Sayli Ghosalkar</h3>
                        <h6>Rank 1</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>I am Sayli Ghosalkar, currently pursuing B.tech in Chemical Engineering at North Maharashtra
                          University. Being represented as campus ambassador of Azeotropy, the annual chemical engineering
                          symposium of Indian Institute of Technology, Bombay was a great honor and position of
                          responsibility for me. This CA program helped me to became a part of student community from
                          various cities and interact with several like-minded people. Handling this duty improved my
                          communication, leadership and managerial skills. Along with a dose of technical knowledge due to
                          various competitions conducted by Azeotropy, it also gave me an incredible exposure to my
                          personality.
                          I would highly recommend this program if someone is looking for innovative way of learning and
                          networking opportunities.
                        </p>
    
                      </div>
                    </div>
                  </div>
    
                </div>
    
    
    
    
    
    
                <div class="carousel-item">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Priyanka Shinde</h3>
                        <h6>Rank 2</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>It was great to be a part of Azeotropy.The best thing about it is organising  competitions and events develop leadership and interpersonal skills. The Azeotropy team was so cooperative  The experience and exposure i got about various fields will surely help me in the future.
                        </p>
    
                      </div>
                    </div>
                  </div>
    
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Vishakha Shinde</h3>
                        <h6>Rank 2</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>It was good experience to being a part of AZeotropy . It gave me the opportunity to showcase my skill and knowledge. It gave positive impact on my career. As a CA I know how to handle different situations and this could  not be possible if AZeotropy did not gave me the opportunity to become a  CA.It was great experience for me that I work with a one of the best organization . I am happy that I was the part of such big organisation.
                          Thank you so much
                          
                        </p>
    
                      </div>
                    </div>
                  </div>
                </div>
    
    
                <div class="carousel-item">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Ashok Gaund </h3>
                        <h6>Rank 3</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>Being a CA was a wonderful and unique experience for me. I got to work with people from All Over India and to do work with New ways (Online mode) in this Covid -19 pandemics. 
                          AZeotropy not only helped me improve my communication skills but also provided me with great learning opportunities in this Pandemics and helped me to grow my network in different ways different Approach and different ideas. I thanks to AZeotropy 20-21 for this fantastic opportunity.
                          </p>
    
                      </div>
                    </div>
                  </div>
    
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                        <h3>Sayli Ghosalkar</h3>
                        <h6>Rank 1</h6>
                      </div>
                      <div class="flip-card-back">
    
                        <p>I am Sayli Ghosalkar, currently pursuing B.tech in Chemical Engineering at North Maharashtra
                          University. Being represented as campus ambassador of Azeotropy, the annual chemical engineering
                          symposium of Indian Institute of Technology, Bombay was a great honor and position of
                          responsibility for me. This CA program helped me to became a part of student community from
                          various cities and interact with several like-minded people. Handling this duty improved my
                          communication, leadership and managerial skills. Along with a dose of technical knowledge due to
                          various competitions conducted by Azeotropy, it also gave me an incredible exposure to my
                          personality.
                          I would highly recommend this program if someone is looking for innovative way of learning and
                          networking opportunities.
                        </p>
    
                      </div>
                    </div>
                  </div>
                </div>
                  
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- ======= Portfolio Section ======= -->
<br><br><br>    

      <!-- ======= Team Section ======= -->
      <section id="contact" class="team">
        <div class="container">

          <div class="section-title">
            <span>Contact Us</span>
            <h2>Contact Us</h2>
            <p><h3>Need a hand? Or a high five?</h3></p>
            <p><h3>Here's how to reach us.</h3></p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" class='contact_box'>
              <div class="member">
                <img src="{% static 'assets/img/team/anjali_sadaphule.jpg' %}" alt="">
                <h4>Anjali Anil Sadaphule</h4>
                <!-- <a href=""><span>Public Relations Manager</span>anjalisadaphule@gmail.com</a> -->
                <span>Public Relations Manager</span>
                <div class="email">
                  <i class="bx bx-envelope"></i>
                  <span>anjali@azeotropy.org</span>
                </div>

                <div class="phone">
                  <i class="bx bx-phone-call"></i>
                  <span>8306578895</span>
                </div>

                <!-- ><i class="bx bx-envelope"></i></i> -->
                <div class="social">
                  
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'assets/img/team/pulkit.jpeg' %}" alt="">
                <h4>Pulkit Pandey</h4>
                <span>Public Relations Manager</span>
                <div class="con_contact">
                  <div class="email">
                    <i class="bx bx-envelope"></i>
                    <span>pulkit@azeotropy.org</span>
                  </div>

                  <div class="phone">
                    <i class="bx bx-phone-call"></i>
                    <span>6265801631</span>
                  </div>

                </div>

                <div class="social">
                  
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>



          </div>
      </section>

      <!-- ======= Contact Section ======= -->
      <!-- <section id="pricing" class="pricing"> 
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
 -->

      <!-- <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@example.com</p>
              <p>contact@example.com</p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
              <p>+1 5589 55488 55</p>
            </div>
          </div>

        </div> -->

      <!-- <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div> -->

      <!-- </div> -->
      <!-- </section>End Contact Secion -->

      <!-- </main>End #main -->
      <!-- 
  ======= Footer ======= -->
      <!-- <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Day</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
         All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ 
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

    

  </footer>End Footer -->

      <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <a href="https://azeotropyiitbblog.wordpress.com">AZeotropy's blog</a>

          </div>
          <div class="social-links d-none d-md-block">
            <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
            <a href="https://www.facebook.com/AZeotropy/" class="facebook" target="_blank"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/iitbombay_azeotropy/?hl=en" class="instagram" target="_blank"><i
                class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/azeotropy/?originalSubdomain=in" class="linkedin"
              target="_blank"><i class="bi bi-linkedin"></i></i></a>
            <a href="https://www.youtube.com/channel/UCuUhMNqBAYUplxgrhGkEGWQ/featured" class="youtube"
              target="_blank"><i class="bi bi-youtube"></i></i></a>
          </div>
        </div>
      </section>

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
      <div id="preloader"></div>

      <!-- Vendor JS Files
    <script>$('.count').each(function () {
        $(this).prop('Counter', 0).animate({
          Counter: $(this).text()
        }, {
          duration: 8000,
          easing: 'swing',
          step: function (now) {
            $(this).text(Math.ceil(now));
          }
        });
      });
    </script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
 -->
      <!-- Template Main JS File -->
      <!-- <script src="{% static 'assets/js/main.js' %}"></script>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div> -->

      <!-- Vendor JS Files -->
      <script>$('.count').each(function () {
          $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
          }, {
            duration: 8000,
            easing: 'swing',
            step: function (now) {
              $(this).text(Math.ceil(now));
            }
          });
        });
      </script>
      <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
          }
        }
      </script>
      <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
      <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
      <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>

      <!-- Template Main JS File -->
      <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>